<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='expenses_styles.css') }}">
    <title>File Error</title>
</head>
<body>
    <div class='expense'>
        <h2>Please upload a valid csv file</h2>
        <br>
        <div class="btn"><a href="/"> <button class="button" >Home Page</button> </a></div>
    </div>
</body>
</html>